# These are the two containers that contain the web and data processing code

services:
  web:
    build: ./
    image: hpcperfstats
    container_name: hpcperfstats_web_1
    restart: always
    command: /home/hpcperfstats/services-conf/django_startup.sh
    environment:
      - HPCPERFSTATS_INI=/home/hpcperfstats/hpcperfstats.ini
      - STATIC_ROOT=/home/hpcperfstats/staticfiles
    volumes:
      - ./hpcperfstats.ini:/home/hpcperfstats/hpcperfstats.ini:ro
      - staticfiles_data:/home/hpcperfstats/staticfiles
      - media_data:/home/hpcperfstats/hpcperfstats/site/hpcperfstats_site/media
    networks:
      hpcperfstats_net:
        aliases:
          - web

  pipeline:
    image: hpcperfstats
    container_name: hpcperfstats_pipeline_1
    restart: always
    depends_on:
      - web
    command: /home/hpcperfstats/services-conf/supervisor_startup.sh
    environment:
      - HPCPERFSTATS_INI=/home/hpcperfstats/hpcperfstats.ini
    ports:
      - 514:514/udp
      - 514:514/tcp
    volumes:
      - ./hpcperfstats.ini:/home/hpcperfstats/hpcperfstats.ini:ro
      - hpcperfstatsdata:/hpcperfstats/
      # Override HPCPERFSTATS_PIPELINE_SSH_DIR to a host path containing keys.
      - ${HPCPERFSTATS_PIPELINE_SSH_DIR:-/tmp/hpcperfstats-pipeline-ssh}:/hpcperfstats/.ssh/:ro
    networks:
      hpcperfstats_net:
        aliases:
          - pipeline

volumes:
  staticfiles_data:
  media_data:
  hpcperfstatsdata:
    driver: local
    driver_opts:
      type: none
      device: /opt/hpcperfstats_data/
      o: bind

networks:
  hpcperfstats_net:
    name: hpcperfstats_net

