{% extends "hpcperfstats_site/base.html" %}
{% block content %}

<h4>{{ qname }}</h4>
<center>
  {{ script|safe }}
  {{ div|safe }}
</center>

<hr>

<h4>Flagged Jobs:</h4>
<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#flagged">Click for Flagged Jobs</button>
<div id="flagged" class="collapse">
<div class="table-responsive">
<!---
  <table class="table table-sm" style="max-width=100%;">
    {% if md_job_list %}

    <tr>
      <th>Top metadata request rates (B)</th>
    </tr>
    {% for key,values in md_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view' key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job_data' v %}">{{ v }}</a>({{ d|stringformat:"0.1f" }})</td>
      {% endfor %}
    </tr>
    {% endfor %}

    {% endif %}


    {% if gigebw_job_list %}

    <tr>
      <th>GigE BW > {{ gigebw_thresh|stringformat:"0.3e" }} MB</th>
    </tr>
    {% for key,values in gigebw_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view' key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job_data' v %}">{{ v }}</a>({{ d|stringformat:"0.3e" }})</td>
      {% endfor %}
    </tr>
    {% endfor %}

    {% endif %}

    {% if idle_job_list %}

    <tr>
      <th>Node Imbalance</th>
    </tr>
    {% for key,values in idle_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view'  key %}"> {{ key }}</a></td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job_data'  v %}">{{ v }}</a>({{ d }})</td>
      {% endfor %}
    </tr>
    {% endfor %}

    {% endif %}

    
    {% if cat_job_list %}

    <tr>
      <th>Time Imbalance</th>
    </tr>
    {% for key,values in cat_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view'  key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job_data'  v %}">{{ v }}</a>({{ d }})</td>
      {% endfor %}
    </tr>
    {% endfor %}

    {% endif %}

    
    {% if cpi_job_list %}

    <tr>
      <th>High CPI ({{cpi_thresh}}, %{{cpi_per|stringformat:"0.1f"}})</th>
    </tr>
    {% for key,values in cpi_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view' key %}">{{ key }}</a></td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job_data' v %}">{{ v }}</a>({{ d|stringformat:"0.1f" }})</td>
      {% endfor %}
    </tr>
    {% endfor %}

    {% endif %}
  </table>
--->
</div>
</div>



{% if date %}
<h3>List of Jobs run on {{ date }}</h3>
{% endif %}
<h4> #Jobs = {{ nj }} </h4>

    {% if job_list.has_other_pages %}
    <nav aria-label="Job list pagination"><ul class="pagination">
      {% if job_list.has_previous %}
      {% if current_path %}
      <li class="page-item"><a class="page-link" href="{{ current_path }}&page={{ job_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ job_list.previous_page_number }}">&laquo;</a></li>
      {% endif %}
      {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in job_list.paginator.page_range %}
      {% if job_list.number == i %}
      <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
      {% else %}
      {% if current_path %}
      <li class="page-item"><a class="page-link" href="{{ current_path }}&page={{ i }}">{{ i }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if job_list.has_next %}
      {% if current_path %}
      <li class="page-item"><a class="page-link" href="{{ current_path }}&page={{ job_list.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ job_list.next_page_number }}">&raquo;</a></li>
      {% endif %}
      {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul></nav>
    {% endif %}

    <table class="table table-sm table-bordered">
      <thead>
        <tr>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-jid' %}jid{% else %}-jid{% endif %}">Job ID {% if order_by == 'jid' %}&uarr;{% elif order_by == '-jid' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-has_metrics' %}has_metrics{% else %}-has_metrics{% endif %}">Data {% if order_by == 'has_metrics' %}&uarr;{% elif order_by == '-has_metrics' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-username' %}username{% else %}-username{% endif %}">user {% if order_by == 'username' %}&uarr;{% elif order_by == '-username' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-account' %}account{% else %}-account{% endif %}">Account {% if order_by == 'account' %}&uarr;{% elif order_by == '-account' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-start_time' %}start_time{% else %}-start_time{% endif %}">start time {% if order_by == 'start_time' %}&uarr;{% elif order_by == '-start_time' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-end_time' %}end_time{% else %}-end_time{% endif %}">end time {% if order_by == 'end_time' %}&uarr;{% elif order_by == '-end_time' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-runtime' %}runtime{% else %}-runtime{% endif %}">run time (s) {% if order_by == 'runtime' %}&uarr;{% elif order_by == '-runtime' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-queue' %}queue{% else %}-queue{% endif %}">queue {% if order_by == 'queue' %}&uarr;{% elif order_by == '-queue' %}&darr;{% endif %}</a></th>
	  <th> name </th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-state' %}state{% else %}-state{% endif %}">status {% if order_by == 'state' %}&uarr;{% elif order_by == '-state' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-ncores' %}ncores{% else %}-ncores{% endif %}">cores {% if order_by == 'ncores' %}&uarr;{% elif order_by == '-ncores' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-nhosts' %}nhosts{% else %}-nhosts{% endif %}">nodes {% if order_by == 'nhosts' %}&uarr;{% elif order_by == '-nhosts' %}&darr;{% endif %}</a></th>
	  <th><a href="{{ sort_base }}{% if '?' in sort_base %}&{% else %}?{% endif %}order_by={% if order_by == '-node_hrs' %}node_hrs{% else %}-node_hrs{% endif %}">node hrs {% if order_by == 'node_hrs' %}&uarr;{% elif order_by == '-node_hrs' %}&darr;{% endif %}</a></th>
	</tr>
      </thead>
      <tbody>
      {% for job in job_list %}
        <tr bgcolor="{{job.color}}">
          <td><a href="{% url 'machine:job_data' job.jid %}">{{ job.jid }}</a>

	  {% if job.metrics_data_set.all %}
          <td>True</td> 
	  {% else %} <td align=right> False </td> 
	  {% endif %}

	  {% if job.username %}
          <td><a href="{% url 'machine:username_view' job.username %}" >{{ job.username }}</td> 
	  {% else %} <td align=right> unknown </td> 
	  {% endif %}
	  
	  {% if job.account %}
          <td align=right><a href="{% url 'machine:account_view' job.account %}" >{{ job.account }}</td>
	  {% else %} <td align=right> None </td>
	  {% endif %}

          <td align=right>{{ job.start_time }}</td>
          <td align=right>{{ job.end_time }}</td>
          <td align=right>{{ job.runtime }}</td>
          <td align=right>{% if job.queue %}<a href="{% url 'machine:queue_view' job.queue %}">{{ job.queue }}</a>{% else %}{{ job.queue }}{% endif %}</td>
          <td align=right>{{ job.jobname }}</td>
          <td align=right>{{ job.state }}</td>
          <td align=right>{{ job.ncores }}</td>
          <td align=right>{{ job.nhosts }}</td>
	  <td align=right>{{ job.node_hrs|stringformat:".2f" }} </td>
        </tr>
	{% endfor %}
      </tbody> 
    </table>

{% endblock %}
