[supervisord]
nodaemon=true
logfile=/dev/fd/1
logfile_maxbytes=0

[program:hpcperfstats-rabbitmq-listener]
command=/usr/local/bin/python3 /home/hpcperfstats/hpcperfstats/listend.py
user=hpcperfstats
priority=10
autorestart=true
startretries=20
stdout_redirect=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_redirect=true
stderr_logfile=/dev/fd/1
stderr_logfile_maxbytes=0

# Uncomment this if you need to rsync data in or out of the container
#  
# WARNING: Script must be updated with your specific rsync commands
# 
# In order to use this script you will need to have proper ssh keys
# setup in the docker-compose.yaml
#
#[program:rsync_data]
#command=/home/hpcperfstats/services-conf/rsync_data.sh
#user=hpcperfstats
#autorestart=true
#stdout_redirect=true
#stdout_logfile=/dev/fd/1
#stdout_logfile_maxbytes=0
#stderr_redirect=true
#stderr_logfile=/dev/fd/1
#stderr_logfile_maxbytes=0

# DB-heavy programs are staggered so restart does not open all pools at once.
# Lower priority number = supervisord starts earlier. Delays are wall-clock after shell starts.
[program:sync_timedb]
command=bash -lc 'sleep 20; exec /usr/local/bin/python3 /home/hpcperfstats/hpcperfstats/dbload/sync_timedb.py all'
user=hpcperfstats
priority=20
autorestart=true
startretries=20
stdout_redirect=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_redirect=true
stderr_logfile=/dev/fd/1
stderr_logfile_maxbytes=0

[program:update_metrics]
command=bash -lc 'sleep 90; exec /usr/local/bin/python3 /home/hpcperfstats/hpcperfstats/analysis/metrics/update_metrics.py'
user=hpcperfstats
priority=30
autorestart=true
startretries=20
stdout_redirect=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_redirect=true
stderr_logfile=/dev/fd/1
stderr_logfile_maxbytes=0

[program:syslog-ng]
command=bash -lc '/usr/local/bin/python3 -m hpcperfstats.render_syslog_ng_generated && exec /usr/sbin/syslog-ng -F --no-caps -f /home/hpcperfstats/services-conf/syslog-ng.conf'
user=root
autorestart=true
startretries=20
stdout_redirect=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_redirect=true
stderr_logfile=/dev/fd/1
stderr_logfile_maxbytes=0

[program:seal_syslog_daily]
command=/usr/local/bin/python3 -m hpcperfstats.seal_syslog_daily
user=hpcperfstats
autorestart=true
startretries=20
stdout_redirect=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_redirect=true
stderr_logfile=/dev/fd/1
stderr_logfile_maxbytes=0
